openai
zhipuai
tiktoken
backoff
transformers==4.47.1
torch==2.4.0
accelerate
deepspeed
elasticsearch==7.9.1
duckduckgo_search==6.4.2
zhipuai
retry
pandas
faiss-cpu
vllm==0.6.2
trl==0.13.0
tensorboard==2.18.0
llama-index==0.9.30
sentence-transformers
retry